### 파이썬 코딩 도장: https://dojang.io/course/view.php?id=7
### 점프 투 파이썬: https://wikidocs.net/book/1

In [ ]:
# if 문 1

# if 조건문:
#    조건이 true일 때 실행할 코드 (앞 부분은 들여쓰기 되어 있음)

a = 10
if a == 10:
    print('10입니다')

print('aaa')
print('-'*15)

a = 5
if a == 10:
    print('10입니다')

print('aaa')

10입니다
aaa
---------------
aaa

In [ ]:
# 코드 블록:
# - 특정한 동작을 위해서 코드가 모여 있는 상태
# - 파이썬은 들여쓰기를 기준으로 코드 블록을 구성
# - 같은 블록은 들여쓰기 칸 수가 같아야 하고, space와 tab을 섞어 쓰면 안됨

a = 10

if a == 10:
    print('10입니다')
    print('10입니다')
    print('10입니다')
    print('10입니다')
    print('10입니다')

if a != 9:
    print('9가 아닙니다')
      print('')

IndentationError: unexpected indent (3066235646.py, line 17)

In [ ]:
# if 문 2

x = 5

if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다')

if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다')

10입니다

In [ ]:
# if-else 구문

x = 10
y = 20

if x == 10 and y == 20:  # x == 10 and y == 20 이 조건문
    print('참')    # 조건문이 참이면 실행
else:
    print('거짓')  # 조건문이 거짓이면 실행

참

In [ ]:
# 중첩 if문과 논리 연산자

x = 10

if x > 0:
    if x < 20:
        print('20보다 작은 양수입니다')

if x > 0 and x < 20:
    print('20보다 작은 양수입니다')

if 0 < x < 20:
    print('20보다 작은 양수입니다')

20보다 작은 양수입니다
20보다 작은 양수입니다
20보다 작은 양수입니다

In [ ]:
# if 조건문에서 코드 생략하기

a = 5

if a == 10:
    print('a는 10')
else:
    pass

In [ ]:
'''
S기업의 입사시험은 필기시험(written_test) 점수가 80점 이상이면서 코딩시험(coding_test)을
통과해야 합격이라고 한다. 코딩시험 통과 여부는 True, False로 구분한다.
written_test = 85이고, coding_test = True일 때, 'pass', 'fail'을 판정하는 코드를
작성하시오.
'''

In [ ]:
written_test = 85
coding_test = True

if (written_test >= 80 and coding_test):
    print('pass')
else:
    print('fail')

pass

In [ ]:
# if-elif

a, b, c = 10, 20, 30

if a == 10:        # 조건식이 참
    print('10')    # 출력
elif b == 20:      # 첫 번째 조건식이 True라서, 조건식을 검사하지 않고 건너뜀
    print('20')
elif c == 30:      # 첫 번째 조건식이 True라서, 조건식을 검사하지 않고 건너뜀
    print('30')

In [ ]:
# if-elif-else

x = 30

if x == 10:             # x가 10일 때
    print('10입니다.')
elif x == 20:           # x가 20일 때
    print('20입니다.')
else:                   # 앞의 조건식에 모두 만족하지 않을 때
    print('10도 20도 아닙니다.')

10도 20도 아닙니다.

In [ ]:
'''
나이를 입력 받아서, 나이가 0~12살이면, '알파세대'
13~28살이면 'Z 세대', 29~44살이면 'Y 세대', 45~이상이면 'X 세대'를
출력하는 코드를 작성하시오.
'''

In [6]:
age = int(input('나이를 입력하시오:'))

if age <= 12:
    print('alpha gen')
elif age <= 28:    
    print('Z gen')
elif age <= 44: 
    print('Y gen')
else:        
    print('X gen')

나이를 입력하시오: 10

alpha gen

In [ ]:
age = int(input('나이를 입력하시오: '))

if age <= 12:
    print('알파세대')
elif age <= 28:
    print('Z 세대')
elif age <= 44:
    print('Y 세대')
else:
    print('X 세대')

나이를 입력하시오: 10
알파세대

In [7]:
# for 문: range와 같이 사용 1
# range(start=0, end, inc=1)

for i in range(3):
    print('hello world')

hello world
hello world
hello world

In [8]:
# for 문: range와 같이 사용 2

for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [ ]:
# for 문: range와 같이 사용 3

for i in range(5):
    print(f'hello world, {i}')

hello world, 0
hello world, 1
hello world, 2
hello world, 3
hello world, 4

In [ ]:
# for 문: range와 같이 사용 4
# range(start=0, end, inc=1)

for i in range(0, 10, 2):
    print(f'hello world, {i}')

hello world, 0
hello world, 2
hello world, 4
hello world, 6
hello world, 8

In [10]:
# for 문: range와 같이 사용 5-1
# range(start=0, end, inc=1)

#for i in range(5, 0):
for i in range(5, 0, 1): # 위의 for문과 같은 문장임
    print(f'hello world, {i}')

In [ ]:
# for 문: range와 같이 사용 5-2

# (위의 예제) 5-1의 코드의 결과가 출력되지 않는 이유는
# range의 숫자 증가 기본값은 1이기 때문임
# 아래와 같이 감소를 할 때는 -1을 추가해야 함

for i in range(5, 0, -1):
    print(f'hello world, {i}')

hello world, 5
hello world, 4
hello world, 3
hello world, 2
hello world, 1

In [18]:
# for 문: 시퀀스 객체로 반복하기 1

a = [10, 20, 30, 40, 50]
for i in a:
    print(i, end=' ')

print('\n')
print('-'*40)

for i in [10, 20, 30, 40, 50]:
    print(i, end=' ')

10 20 30 40 50

----------------------------------------
10 20 30 40 50

In [ ]:
# for 문: 시퀀스 객체로 반복하기 2

fruits = ('apple', 'orange', 'grape')

for f in fruits:
    print(f)

print('-'*20)

a = 'hello'
print(list(a))
print('-'*20)


# print('', end='')
for b in 'Python':
    print(b) # default -> print(b, end='\n') 과 같음 (개행)

print('-'*20)

for b in 'Python':
    print(b, end = '') # 줄바꿈 없이 출력
print('\n')

for b in 'Python':
    print(b, end = ' ') # 출력 사이에 공백 추가
print('\n')

for b in 'Python':
    print(b, end = '-') # 출력 사이에 - 추가
print('\n')


for b in 'Python':
    print(b, end = '\t') # 출력 사이에 tab 추가

apple
orange
grape
--------------------
['h', 'e', 'l', 'l', 'o']
--------------------
P
y
t
h
o
n
--------------------
Python

P y t h o n

P-y-t-h-o-n-

P	y	t	h	o	n

In [ ]:
# while 문 1
# while 조건:
#    조건이 true이면, block을 실행한다

i = 0
while i < 10:
    print('hello:', i)
    i += 1    # i = i+1

hello: 0
hello: 1
hello: 2
hello: 3
hello: 4
hello: 5
hello: 6
hello: 7
hello: 8
hello: 9

In [ ]:
# while 문 2

i = 10

while i > 0:
    print('hello:', i)
    i -= 1  # i = i-1

hello: 10
hello: 9
hello: 8
hello: 7
hello: 6
hello: 5
hello: 4
hello: 3
hello: 2
hello: 1

In [ ]:
# while 문 3: 무한루프 1 (Ctrl + C를 입력하여 탈출)

# 실행하지 않기 !!!

while True:
    print('')

while 2:  # 0, 0.0, 0j를 제외한 숫자는 True
    print('')

while 'abc':  # 내용이 있는 문자열은 True로 취급하여 무한 루프로 동작
    print('')

# 참고) boolean : Ture / False
# 1. 정수 0, 실수 0.0, 복소수 0j 이외의 모든 숫자는 true
# 2. 빈 문자열 '', "", None을 제외한 모든 문자열은 true
# 3. 빈 리스트, 빈 튜플, 빈 딕셔너리, 빈 세트(집합)를 제외한 나머지는 true

##### break, contunue로 반복문 제어하기 -> for와 while 문에서 벗어날 때 사용

##### break: 제어 흐름을 중단하고 빠져나옴
##### continue: 제어 흐름을 유지한 상태에서 코드의 실행만 건너뜀

In [21]:
# while 문에서 break로 빠져나오기

i = 0
while True:   # 무한루프
    print(i, end=' ')
    i = i+1

    if i == 200:
        break

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199

In [24]:
# for 문에서 break로 빠져나오기

for i in range(1000):
    print(i, end= ' ')
    
    if i == 10:
        break

print('\n')     

# 위의 코드와 같은 코드임(그러니 굳이 for문에 break를 넣을 필요는 없다)
for i in range(11):
    print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9 10

0 1 2 3 4 5 6 7 8 9 10

In [26]:
# for 문에서 continue로 코드 실행 건너뛰기

for i in range(10):
    if i % 2 == 0:  # i가 짝수이면 true (%는 나머지연산)
        continue 
    print(i,end=' ')
    #for j in range(100):
    #    print(j)
    #if j % 2 == 1:
    #    print(j)

print('\n')
print('-'*5)

# continue 대신 pass 사용
for i in range(10):
    if i % 2 == 0:
        pass
    print(i,end=' ')

1 3 5 7 9

-----
0 1 2 3 4 5 6 7 8 9

In [ ]:
# while 문에서 continue로 코드 실행 건너뛰기

i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [28]:
# 인덱스와 요소 함께 출력하기: enumerate (열거하다)

a = [38, 21, 53, 62, 19]

for idx, value in enumerate(a):
    print(f'index {idx}:, value: {value}')

print('-'*10)

for idx, value in enumerate(a, start=10):
    print(idx, value)

index 0:, value: 38
index 1:, value: 21
index 2:, value: 53
index 3:, value: 62
index 4:, value: 19
----------
10 38
11 21
12 53
13 62
14 19

In [30]:
# zip: 여러 개의 이터러블(리스트, 튜플 등)을 묶어서 요소들을 튜플로 묶어주는 함수

# zip 1

#names = ["Jenny", "Rose", "Jisoo", "Lisa"]
names = ["Jenny", "Rose", "Jisoo"]
ages = [30, 29, 31]

zipped = zip(names, ages)  # 각 요소를 튜플로 묶음
print(list(zipped))

print(zipped) # zip은 실제 리스트가 아니라 이터레이터 객체를 생성

[('Jenny', 30), ('Rose', 29), ('Jisoo', 31)]
<zip object at 0x00000144C863BD40>

In [33]:
# zip 2: for문에서 사용

students = ["Hanni", "Danielle", "Haerin"]
scores = [87, 85, 92]

for i in range(len(students)):
    print(f"{students[i]}의 점수는 {scores[i]}입니다.")
    
for student, score in zip(students, scores):
    print(f"{student}의 점수는 {score}입니다.")

Hanni의 점수는 87입니다.
Danielle의 점수는 85입니다.
Haerin의 점수는 92입니다.
Hanni의 점수는 87입니다.
Danielle의 점수는 85입니다.
Haerin의 점수는 92입니다.

In [34]:
aa = [] # 빈 리스트
for i in range(10):
    aa.append(i)
print(aa,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# list comprehension (리스트 표현식, 리스트 내포, 리스트 내장)
# list안에 for 문 사용
# format1: [식 for 변수 in list] 
# format2: list(식 for 변수 in list)

aa = [] # 빈 리스트
for i in range(10):
    aa.append(i)
print(aa,end=' ')

print('='*30)

a = [i for i in range(10)]
print(a)

print('-'*40)


b = []
for i in range(10):
    b.append(i)
print(b)

print('-'*40)


c = [i*2 for i in range(10)]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
----------------------------------------
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
----------------------------------------
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### list 자료형이 가지는 대표적인 메소드(함수)

##### a = [ ] 를 리스트라고 두면,
##### a.append(x): 리스트 끝에 요소 추가
##### a.extend(iterable): 다른 리스트나 반복 가능한 객체를 확장하여 추가
##### a.insert(index, x): index 위치에 요소 삽입
##### a.remove(x): 리스트에서 첫 번째로 등장하는 x 삭제
##### a.pop(index): index 위치의 요소를 꺼내고 삭제 (기본값: 마지막 요소)
##### a.index(x): 리스트에서 x의 첫 번째 등장 위치 반환
##### a.count(x): 리스트에서 x의 개수 반환
##### a.sort(): 리스트를 오름차순 정렬 (내림차순: sort(reverse=True) )

In [36]:
# list comprehension (리스트 표현식, 리스트 내포, 리스트 내장)
# list안에 for 문과 if 문을 사용

# pythonic code
a = [i for i in range(10) if i % 2 == 0]
print(a, end=' ')
print('-'*40)

aa = []
for i in range(10):
    if i % 2 == 0:
        aa.append(i)
print(aa, end=' ')        

print('-'*40)

b = []
for i in range(10):
    if i % 2 == 0:
        b.append(i)
print(b)

print('-'*40)

[0, 2, 4, 6, 8] ----------------------------------------
[0, 2, 4, 6, 8] ----------------------------------------
[0, 2, 4, 6, 8]
----------------------------------------

In [37]:
# list comprehension (리스트 표현식, 리스트 내포, 리스트 내장)
# list안에 for문 중첩

c = [i*j for j in range(2,5) for i in range(1,4)]
print(c, end = ' ')

print('-'*40)

d = []
for j in range(2,5):
    for i in range(1,4):
        d.append(i*j)
print(d, end = ' ')

[2, 4, 6, 3, 6, 9, 4, 8, 12] ----------------------------------------
[2, 4, 6, 3, 6, 9, 4, 8, 12]

In [38]:
# 함수 1 (매개변수와 반환 값이 없는 경우)

# def 함수명():       def는 define의 약자
#     들여쓰기    

def hello():
    print('hello~~~')

hello()

hello~~~

In [39]:
# 함수 2 (매개변수)

def add(a, b):
    print(a + b)

def add2(a, b):
    """
    이 부분은 함수의 설명 부분(docstring)
    """
    print(a + b)

add(10, 20)

print('-'*10)

add2(1, 2)

30
----------
3

In [40]:
help(add2)

Help on function add2 in module __main__:

add2(a, b)
    이 부분은 함수의 설명 부분(docstring)

In [41]:
print(add2.__doc__)

    이 부분은 함수의 설명 부분(docstring)

In [42]:
add2?

Signature: add2(a, b)
Docstring: 이 부분은 함수의 설명 부분(docstring)
File:      c:\users\sungshin\appdata\local\temp\ipykernel_5732\2091695124.py
Type:      function

In [ ]:
# documentation string

help(add2)

print('-'*40)

print(add2.__doc__)

add2?

Help on function add2 in module __main__:

add2(a, b)
    이 부분은 함수의 설명 부분(docstring)

----------------------------------------

    이 부분은 함수의 설명 부분(docstring)

In [45]:
# 함수 3 (결과 반환)
# def hello():
#     print('hello')
# def add(a,b):
#     print(a+b)
    
def add(a, b):
    return a+b

x = add(10, 20)
print(x)

print('-'*10)


def add_sub(a, b):
    return a+b, a-b # 실제로는 이렇게 (a+b, a-b) 반환됨

x, y = add_sub(10,20)

(x1, y1) = add_sub(20,10)

# 결과가 하나의 튜플로 반환된다는 것을 보여주는 예
z  = add_sub(10,20)

print(x)
print(y)
print('-'*10)

print(x1)
print(y1)
print('-'*10)

print(z)    # 결과를 변수 한 개에 저장해서 튜플로 출력

30
----------
30
-10
----------
30
10
----------
(30, -10)

In [48]:
# (덧셈) 계산기 1개 만드는 함수

result = 0
def add(num):
    # 이제 result는 전역변수가 되어서 
    # 함수 안에서도 밖의 값과 같은 값을 가짐
    global result 
    
    result = result + num
    return result

print(add(3))
print(add(4))

3
7

In [50]:
# (덧셈) 계산기 2개 함수

result1 = 0
result2 = 0

def adder1(num):

    global result1

    result1 += num
    return result1

def adder2(num):

    global result2

    result2 += num
    return result2

print(adder1(3))
print(adder1(4))
print('-'*10)

print(adder2(1))
print(adder2(6))

3
7
----------
1
7

In [51]:
# 계산기 클래스
# class 클래스명: # 참고로, 클래스명은 첫글자를 대문자로 암묵적으로 사용함
#     들여쓰기

a1 = [1,2,3] # 리스트도 사실 클래스다. 그리고 a는 리스트 객체, instance이다
a2 = []
a3 = []
a1.append(10)  # [1,2,3,10]
a1.index(1)

class Calculator:
    # __init__(): 생성자이고, 클래스로 instance를 만들때,
    #              그 instance를 초기화하는 역할을 한다
    def __init__(self):   
        self.result = 0

    # 클래스 안에 정의된 함수를 다른말로 method(메소드)라고도 부른다
    def add(self, num):      
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print('-'*10)

print(cal2.add(1))
print(cal2.add(6))

3
7
----------
1
7

In [55]:
# 사칙연산 계산기 클래스 1

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        result = self.first + self.second
        return result

    def sub(self):
        result = self.first - self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result

    def div(self):
        result = self.first / self.second
        return result


a = FourCal()
a.setdata(4, 2)

print(a.add())
print(a.sub())
print(a.mul())
print(a.div())
print('-'*10)


b = FourCal()
b.setdata(10, 2)

print(b.add())
print(b.sub())
print(b.mul())
print(b.div())
print('-'*40)

c = FourCal   # 객체가 생성되지 않고, 클래스가 c에 할당됨
print(c)      # <class '__main__.FourCal'> => 즉 c는 클래스 자체를 가리킴
print('-'*40)

print(b)      # b는 FourCal의 객체이므로, 객체의 메모리 주소를 가리킴

6
2
8
2.0
----------
12
8
20
5.0
----------------------------------------
<class '__main__.FourCal'>
----------------------------------------
<__main__.FourCal object at 0x00000144C8FB7D40>

In [57]:
# 사칙연산 계산기 클래스 2 (a.setdata() 없이 사용할 경우)

# 현재는 FourCal()이 __init__없이, 메소드만으로만 이루어져 있음
a = FourCal()

print(a.add())  # setdata 메서드를 수행하지 않고 add 메서드를 먼저 수행하면 에러발생

AttributeError: 'FourCal' object has no attribute 'first'

In [60]:
# 사칙연산 계산기 클래스 3

# 생성자(constructor): __init__()
# 이전 셀의 코드에서는 setdata 메서드로 객체를 생성할 때마다
# 객체의 변수인 first, second를 매번 초기화해야 함
# 생성자는 객체가 생성될 때 자동으로 호출 됨

# def setdata(self, first, second):

class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second

#a = FourCal() # 매개변수를 전달하지 않아서 에러 발생
a = FourCal(10, 20)

In [61]:
# 사칙연산 계산기 클래스 4

a = FourCal(4,2)

print(a)
print(a.first)
print('-'*10)

print(a.second)

<__main__.FourCal object at 0x00000144C8ED7EC0>
4
----------
2

In [ ]:
# 사칙연산 계산기 클래스 5

class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        result = self.first + self.second
        return result

    def sub(self):
        result = self.first - self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result

    def div(self):
        result = self.first / self.second
        return result

a = FourCal(4,2)
print(a.add())
print(a.sub())
print(a.mul())
print(a.div())
print('-'*10)


b = FourCal(11,9)

print(b.add())
print(b.sub())
print(b.mul())
print(b.div())

6
2
8
2.0
----------
20
2
99
1.2222222222222223

In [62]:
# class 예제

class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕!!'
        self.name = name
        self.age = age
        self.address = address

    def greeting(self):
        print(f'{self.hello} 나는 럭키비키 {self.name}이야.')

nameCard = Person('장원영', 20, '서울시 서초구 반포동')
nameCard.greeting()
print('-'*30)

print('이름:', nameCard.name)
print('나이:', nameCard.age)
print('주소:', nameCard.address)

안녕!! 나는 럭키비키 장원영이야.
------------------------------
이름: 장원영
나이: 20
주소: 서울시 서초구 반포동

In [63]:
# 클래스 속성(attribute)

class Person2:

    bag = []  # 클래스 속성(attribute)

    def put_bag(self, stuff):
        self.bag.append(stuff)

karina = Person2()
karina.put_bag('책')
print(karina.bag)
print('='*30)

winter = Person2()
winter.put_bag('열쇠')

print(karina.bag)
print(winter.bag)

print(Person2.bag)

['책']
==============================
['책', '열쇠']
['책', '열쇠']
['책', '열쇠']

##### 위의 Person2.bag = [ ]는 클래스 속성임
##### 클래스 속성은 모든 인스턴스에 공통으로 적용

--------------
##### 인스턴스마다 독립적인 속성을 부여하고 싶으면 인스턴스 속성을 사용하면 됨
##### 인스턴스 속성은 생성자(__init__)에서 정의함

In [ ]:
# 인스턴스 속성

class Person3:

    def __init__(self):
        self.bag = []  # 인스턴스 속성

    def put_bag(self, stuff):
        self.bag.append(stuff)

karina = Person3()
karina.put_bag('책')

winter = Person3()
winter.put_bag('열쇠')

print(karina.bag)
print(winter.bag)

['책']
['열쇠']