### 파이썬 코딩 도장: https://dojang.io/course/view.php?id=7
### 점프 투 파이썬: https://wikidocs.net/book/1

In [ ]:
print("Hello python")

# 세미콜론: 한 줄에 여러 구문을 사용할 때 세미콜론으로 구분
print('hello'); print('1')

Hello python
hello
1

In [4]:
print(divmod(5,2)) # 몫과 나머지를 튜플로 반환

quotient, remainder = divmod(5,2)
print(quotient, remainder)

(2, 1)
2 1

In [ ]:
# 숫자 계산
print(1 - 2)
print(1 + 2)
print(1 * 2)
print(1 / 2)

print(2**3)    # 2^3 = 8


print(5 // 2) # 나머지를 버리고, 몫만 취함
print(5 % 2)  # 몫은 버리고, 나머지만 취함

print(divmod(5,2)) # 몫과 나머지를 튜플로 반환

quotient, remainder = divmod(5,2)
print(quotient, remainder)


print(int(3.3)) # 정수만 취함
print(int(5/2))
print(int('10'))  # '10': 정수로 된 문자열은 가능

-1
3
2
0.5
8
2
1
(2, 1)
2 1
3
2
10

In [ ]:
# 객체의 자료형
print(type(1))
print(type(1.0))
print(type('1'))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 2진수, 8진수, 16진수

# 2진수: 숫자 앞에 0b(binary, 2진수)를 붙이고, 숫자는 0 or 1
print(0b110)

# 8진수: 숫자 앞에 0o(octal, 8진수)를 붙이고, 숫자는 0~7까지 사용
print(0o11)

# 16진수: 숫자 앞에 0x(hexadecimal, 16진수)를 붙이고, 숫자는 0~9, A~F(a~f)까지 사용
print(0xB)  # A: 10, B: 11, ... F: 15

6
9
11

In [ ]:
'''
아파트에서 소음이 가장 심한 층수를 구하는 계산식은 아래와 같다.

계산식: 소음이 가장 심한 층 = 0.2467 * 도로와의 거리(m) + 4.159

도로와의 거리가 14m인 아파트에서 소음이 가장 심한 층수는?

단, 층수를 출력할 때는 소수점 이하 자리는 버린다. (즉, 정수로 출력).
'''

In [30]:
h = 0.2467 * 14 + 4.159
print(h)
print(int(h))
print(round(h)) # 반올림하는 함수 round()

7.6128
7
8

In [ ]:
dist_road = 14
h = 0.2467 * dist_road + 4.159
print(h)
print(int(h))
print(round(h))

7.6128
7
8

In [31]:
# 변수 한번에 입력하기 1

x, y, z = 10, 'hello', 2.6
#x, y, z = (10, 'hello', 2.6)

print(x, type(x))
print('-'*50)
print(y, type(y))
print('-'*50)
print(z, type(z))

10 <class 'int'>
--------------------------------------------------
hello <class 'str'>
--------------------------------------------------
2.6 <class 'float'>

In [33]:
# 변수 한번에 입력하기 2

x, y, z = 10   # 에러 발생함

print(x)
print(y)
print(z)

TypeError: cannot unpack non-iterable int object

In [34]:
# 변수 한번에 입력하기 3 (위의 방법 대신 이렇게 해야 함)

x = y = z = 10

print(x, y, z)

10 10 10

In [ ]:
# 문자열 포매팅

x = y = 10
z = 'cat'

print(x, y, z)

print('x is', x, ', y is', y, ', z is', z)
print('x is {}, y is {}, z is {}'.format(x,y,z))
print(f'x is {x}, y is {y}, z is {z}')
print('x is %d, y is %d, z is %s' %(x,y,z)) # %formatting (old version)

x is 10 , y is 10 , z is cat
x is 10, y is 10, z is cat
x is 10, y is 10, z is cat
x is 10, y is 10, z is cat

In [ ]:
# 변수 swap

x, y = 10, 20
x, y = y, x

print(x, y)

20 10

In [ ]:
# 파이썬과 같이 swap을 지원하지 않을 경우
# 아래와 같은 방법으로 변수를 swap 함

x, y = 10, 20
tmp = x
x = y
y = tmp

print(x,y)

20 10

In [ ]:
# 변수 삭제

x = 10
print(f'(before del) x is {x}')

del x

print(f'(after del) x is {x}')  # 여기에서 에러 발생함

(before del) x is 10

NameError: name 'x' is not defined

In [ ]:
# 빈 변수 만들기

x = None
print(x)

None

In [ ]:
# 산술 연산(+,-,*,/, //) 후 할당 연산자(=) 사용

a = 10
a = a + 20

# a += 20  # a = a+20

print(a)

a += 10 # a = a + 10과 같음
print(a)

a -= 10 # a = a - 10과 같음
print(a)

a *= 10 # a = a * 10과 같음
print(a)

a /= 10 # a = a / 10과 같음
print(a)

a //= 10 # a = a // 10과 같음
print(a)

30
40
30
300
30.0
3.0

In [26]:
x = input('숫자를 입력하시오:') # hello 입력
print(type(x))
print('-'*20)

x = int(input('숫자를 입력하시오:')) # hello 입력
print(type(x))
print('-'*20)

숫자를 입력하시오: 1

<class 'str'>
--------------------

숫자를 입력하시오: 1

<class 'int'>
--------------------

In [ ]:
# input 함수 1

x = input() # hello 입력
print(type(x))
print('-'*20)

x = input('문자열을 입력하세요: ') # hello 입력
print(type(x))
print('-'*20)

x = input('숫자를 입력하세요: ') # 숫자 10 입력
print(type(x))

hello
<class 'str'>
--------------------
문자열을 입력하세요: hello
<class 'str'>
--------------------
숫자를 입력하세요: 10
<class 'str'>

In [37]:
# input 함수 2

a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
c = a + b

print(c) # 여기의 출력은 3이 아니라 '12' 임 
print(type(c))

첫 번째 숫자를 입력하세요:  1
두 번째 숫자를 입력하세요:  2

12
<class 'str'>

In [38]:
# input 함수 3 (숫자 입력을 input으로 받을 때, int를 사용하면 정수가 출력됨)

a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))
c = a + b

print(c)
print(type(c))

첫 번째 숫자를 입력하세요:  1
두 번째 숫자를 입력하세요:  2

3
<class 'int'>

In [29]:
### 논리 연산자에서 
### 1 -> True (참)
### 0 -> False (거짓)

'''
while True:
    # 무한루프

while 1:
    # 무한루프
'''

In [40]:
# 논리 연산자(and)

print(True and True)
print('-'*10)

print(True and False)
print('-'*10)

print(False and True)
print('-'*10)

print(False and False)
print('-'*10)

print(1 and 1)
print(1 and 0)

True
----------
False
----------
False
----------
False
----------
1
0

In [ ]:
# 논리 연산자(or)

print(True or True)
print('-'*10)

print(True or False)
print('-'*10)

print(False or True)
print('-'*10)

print(False or False)

True
----------
True
----------
True
----------
False

In [ ]:
# 논리 연산자(not)

print(not True)
print('-'*10)

print(not False)

False
----------
True

In [ ]:
print(10 == 10)  # true
print(10 != 5)   # true

In [ ]:
# 논리 연산자와 비교 연산자

print(10 == 10 and 10 != 5)
print('-'*10)

print(10 > 5 or 10 < 3)
print('-'*10)

print(not 10 > 5)
print('-'*10)

True
----------
True
----------
False
----------

In [ ]:
# boolean : Ture / False

# 정수 0, 실수 0.0, 복소수 0j 이외의 모든 숫자는 true
print(bool(1))
print(bool(0))
print(bool(-1))
print('-'*50)


# 빈 문자열 '', "", None을 제외한 모든 문자열은 true
print(bool(None))
print(bool('st'))
print(bool(''))
print('-'*50)

# 빈 리스트, 빈 튜플, 빈 딕셔너리, 빈 세트(집합)를 제외한 나머지는 true
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(set()))

True
False
True
--------------------------------------------------
False
True
False
--------------------------------------------------
False
False
False
False

In [ ]:
'''
국어(kor), 영어(eng), 수학(math), 과학(sci) 점수가 있을 때 
한 과목이라도 50점 미만이면 불합격이다.
아래 조건에 대해서 합격이면 True, 불합격이면 False가 출력되게 만드시오.
kor = 92
eng = 47
math = 86
sci = 70
'''

In [41]:
kor, eng, math, sci = 92, 47, 86, 70
print(kor >= 50 and eng >= 50 and math >= 50 and sci >= 50)

False

In [ ]:
kor = 92
eng = 47
math = 86
sci = 70

print(kor >= 50 and eng >= 50 and math >= 50 and sci >= 50)

False

In [ ]:
# 리스트 1: []로 데이터를 표현

a = []        # 빈 리스트
b = [1, 2, 3] # 각 값은 콤마로 구분

print(a)
print(type(a))
print('-'*20)

print(b)
print(type(b))
print('-'*20)

''' 
# 아래는 에러 발생, 각 값을 콤마로 구분짓지 않아서
c = [1 2 3]
print(c)
print(type(c))
'''

[]
<class 'list'>
--------------------
[1, 2, 3]
<class 'list'>
--------------------

'\nc = [1 2 3]\nprint(c)\nprint(type(c))\n'

[12, [123, 3], (12, 2)]

In [44]:
# 리스트 2

person = ['james', 17, 175.3, True] # 다양한 자료형을 저장
print(person)

person[2] = 190   # 값 변경 가능
print(person)

a = [12, [123, 3], (12,2)]
print(a)

['james', 17, 175.3, True]
['james', 17, 190, True]
[12, [123, 3], (12, 2)]

In [50]:
# range(start=0, end, increment=1)
# range(end)
a0 = range(5) # iterable 객체
print(a0)
print(f'a0 type is {type(a0)}')
print('-'*30)

a = list(range(5)) # range(5) == range(0, 5, 1)
print(a)
print('-'*30)

b = list(range(1,4))
print(b)
print('-'*30)

range(0, 5)
a0 type is <class 'range'>
------------------------------
[0, 1, 2, 3, 4]
------------------------------
[1, 2, 3]
------------------------------

In [ ]:
# range와 list

print(range(10))
print('-'*30)

print(list(range(10)))
print('-'*30)

print(list(range(5,12)))  # 시작, 끝
print('-'*30)

print(list(range(-4,10,2))) # 시작, 끝, 증가폭
print('-'*30)

print(list(range(10,0,-1)))

range(0, 10)
------------------------------
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
------------------------------
[5, 6, 7, 8, 9, 10, 11]
------------------------------
[-4, -2, 0, 2, 4, 6, 8]
------------------------------
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
# 튜플 tuple 1: () 표현

a = ()        # 빈 리스트

b = (1, 2, 3) # 각 값은 콤마로 구분

c = 1,        # 요소가 하나 들어있는 튜플

d = (2,)      # 요소가 하나 들어있는 튜플

e = 1         # 얘는 정수

print(a)
print(type(a))
print('-'*20)

print(b)
print(type(b))
print('-'*20)

print(c)
print(type(c))
print('-'*20)

print(d)
print(type(d))
print('-'*20)

print(e)
print(type(e))

()
<class 'tuple'>
--------------------
(1, 2, 3)
<class 'tuple'>
--------------------
(1,)
<class 'tuple'>
--------------------
(2,)
<class 'tuple'>
--------------------
1
<class 'int'>

In [53]:
# 튜플 tuple 2

person = ('james', 17, 175.3, True) # 다양한 자료형을 저장
print(person)
print('-'*20)

print(person[2])

person[2] = 190   # 튜플은 값 변경 불가능 (중요: 리스트와 차이점임 !!!)
print(person)

('james', 17, 175.3, True)
--------------------
175.3

TypeError: 'tuple' object does not support item assignment

In [55]:
# 리스트 -> 튜플 -> 리스트 -> 튜플 
# 이걸(튜플 -> 리스트 -> 튜플) 이용해서 튜플 값을 변경할 수 있음

a = [1, 2, 3]
b = tuple(a)
c = list(b)
c[1] = 100
d = tuple(c)

print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
(1, 2, 3)
[1, 100, 3]
(1, 100, 3)

In [57]:
# 문자열

hello = 'hello'
print(hello[2])

hello[2] = 'm'  # error 발생
print(hello)

l

TypeError: 'str' object does not support item assignment

In [ ]:
# 문자열과 list, tuple

hello = 'hello'

print(list(hello))
print(tuple(hello))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')

In [ ]:
# 문자열과 tuple

hello = 'hello'
hello[2] = 'm'

print(hello)

TypeError: 'str' object does not support item assignment

##### 시퀀스 자료형: 리스트, 튜플, range, 문자열(str) -> 값이 연속적으로 이어짐

![011001.png]()

In [ ]:
# 시퀀스 자료형 1(특정 값이 있는지 확인)

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90] # 시퀀스 자료형
print(30 in a)  # in: ~에 들어있는
print(100 in a)
print('-'*10)

print(100 not in a) # not in: ~에 들어있지 않은
print(30 not in a)
print('-'*10)

print(1 in range(10))   # range도 시퀀스 자료형
print(11 in range(10))
print('-'*10)

print('p' in 'python')  # string도 시퀀스 자료형
print('P' in 'python')

True
False
----------
True
False
----------
True
False
----------
True
False

In [58]:
# 시퀀스 자료형 2-1 (시퀀스 객체 연결하기)

a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)
print('-'*30)

print('hello' + '' + 'python')
print('hello' + ' ' + 'python')

[0, 10, 20, 30, 9, 8, 7, 6]
------------------------------
hellopython
hello python

In [ ]:
# 시퀀스 자료형 2-2 (시퀀스 객체 연결하기)

print(range(0, 10) + range(90, 100))

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
# 시퀀스 자료형 2-3 (시퀀스 객체 연결하기)

# range는 리스트나 튜플로 만들어서 연결
print(list(range(0, 10)) + list(range(90, 100)))

In [ ]:
# 시퀀스 자료형 3 (시퀀스 객체 반복하기)

print([1, 2, 3, 4]*3)

print('-'*70)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
----------------------------------------------------------------------

In [ ]:
# 시퀀스 자료형 4 (리스트, 튜플, range의 숫자 생성, 요소 개수 구하기)

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(len(a))

b = (38, 76, 43, 62, 19)
print(len(b))

print('-'*10)

print(len(range(0, 10, 2)))

print(len('hello python'))

10
5
----------
5
12

In [64]:
# 시퀀스 자료형 5 (인덱싱): 하나의 요소만 access함

a = [38, 21, 53, 62, 19]
print(a[0])
print(a[2])
print(a[4])
print('-'*10)

b = (38, 21, 53, 62, 19)
print(b[0])
print(b[2])
print(b[4])
print('-'*10)

print(range(0, 10, 2)[0])
print(range(0, 10, 2)[2])
print(range(0, 10, 2)[4])
print('-'*10)

print('hello'[0])
print('-'*10)

a = [38, 21, 53, 62, 19]
#    0,   1,  2,  3,  4  (+) 인덱스
#    -5, -4, -3, -2, -1  (-) 인덱스

print(a[len(a)-1])
print(a[-1])
print(a[-3])
print(b[-1])
print('-'*10)

print(range(0, 10, 2)[-1])
print('hello'[-1])

38
53
19
----------
38
53
19
----------
0
4
8
----------
h
----------
19
19
53
19
----------
8
o

In [ ]:
# 시퀀스 자료형 6 (슬라이싱) : 여러 개의 요소를 access함

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[0:4])
print('-'*30)

print(a[1:2])
print('-'*30)

print(a[:7])  # 0번째 부터 (7-1)번째 까지
print('-'*30)

print(a[7:])  # 7번째 부터 끝까지 인덱싱
print('-'*30)

print(a[:])   # 모두 (all)
print('-'*30)

print(a[1:1]) # [] 
print('-'*30)

print(a[2:8:3]) # 이오 요구르트
print('-'*30)

print(a[::-1])  # 역으로 접근 (거꾸로 모두 읽음)

[0, 10, 20, 30]
------------------------------
[10]
------------------------------
[0, 10, 20, 30, 40, 50, 60]
------------------------------
[70, 80, 90]
------------------------------
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
------------------------------
[]
------------------------------
[20, 50]
------------------------------
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [65]:
# 딕셔너리 1: {} 로 표현. {키 : 값} :을 기준으로 왼쪽은 키, 오른쪽은 값

x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

print(x)
print(x.keys())
print(x.values())
print(x['a'])  # 키를 인덱싱하면 value를 알수있다
print(x['c'])
print('-'*30)

y = {4: 'four', 3: 'three', 2: 'two'}
print(y)
print(y.keys())
print(y.values())
print(y[4])
print(y[2])

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])
10
30
------------------------------
{4: 'four', 3: 'three', 2: 'two'}
dict_keys([4, 3, 2])
dict_values(['four', 'three', 'two'])
four
two

In [ ]:
# 딕셔너리 2-1: 키에는 리스트와 딕셔너리를 사용할 수 없음

#x = {[10, 20]: 100}
x = {{'a': 10}: 100}

TypeError: unhashable type: 'dict'

In [68]:
# 딕셔너리 2-2: 값에는 리스트와 딕셔너리를 사용할 수 있음

#x = {3: [10, 20]}
x = {1: {2:100}}
print(x[1])
print(x.values())

{2: 100}
dict_values([{2: 100}])

In [70]:
# 딕셔너리 3
a = {}  # 빈 딕셔너리 : 빈 리스트 [], 빈 튜플 (), 빈 세트 a = set()
print(a, type(a))

# 딕셔너리 만들기1: dict(키1=값1, 키2=값2)
dic = dict(a=10, b=20, c=30)
print(dic)
print('-'*30)

# 딕셔너리 만들기2: dict(zip([키1, 키2], [값1, 값2]))
dic2 = dict(zip(['a', 'b', 'c'], [10, 20, 30]))
print(dic2)
print('-'*30)

# 딕셔너리 만들기3: dict([(키1, 값1), (키2, 값2)])
dic3 = dict([('a', 10), ('b', 20), ('c', 30)])
print(dic3)
print('-'*30)

# 딕셔너리 만들기4: dict({키1: 값1, 키2: 값2})
dic4 = dict({'a': 10, 'b': 20, 'c': 30})
print(dic4)
print('-'*30)

# 딕셔너리 만들기5: {키1: 값1, 키2: 값2}
dic5 = {'a': 10, 'b': 20, 'c': 30}
print(dic5)
print('-'*30)

print('a' in dic4)  # 딕셔너리 키 유무 확인
print('d' in dic4)
print('-'*30)

print(len(dic4))  # 딕셔너리 키 개수

{} <class 'dict'>
{'a': 10, 'b': 20, 'c': 30}
------------------------------
{'a': 10, 'b': 20, 'c': 30}
------------------------------
{'a': 10, 'b': 20, 'c': 30}
------------------------------
{'a': 10, 'b': 20, 'c': 30}
------------------------------
{'a': 10, 'b': 20, 'c': 30}
------------------------------
True
False
------------------------------
3

In [ ]:
# set 1: set 만들기

a = set() # 빈 세트
print(a, type(a))
print('-'*20)

b = {}
print(b, type(b))
print('-'*20)

# set의 특징1: 중복 허용하지 않음
c = set('apple') # 출력 결과가 a, p, p, l, e 가 아님
print(c)

set() <class 'set'>
--------------------
{} <class 'dict'>
--------------------
{'p', 'e', 'a', 'l'}

In [74]:
# set 2: 특징2: 세트의 요소는 순서가 정해져 있지 않음 ==> 그래서 인덱싱을 할 수 없음

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits)
print('-'*50)

print(fruits[1]) # grape일까?

{'orange', 'grape', 'cherry', 'pineapple', 'strawberry'}
--------------------------------------------------

TypeError: 'set' object is not subscriptable

In [ ]:
# set 3: 세트의 특정 요소가 있는지 확인하기

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print('orange' in fruits)
print('-'*10)

print('peach' in fruits)
print('-'*10)

print('peach' not in fruits)
print('-'*10)

print('orange' not in fruits)

True
----------
False
----------
True
----------
False

In [ ]:
# set 4: 세트에 들어가는 요소는 중복되지 않음

fruits = {'strawberry', 'orange', 'orange'}
print(fruits)

{'orange', 'strawberry'}

In [77]:
# if 문 1

# if 조건문:
#    조건이 true일 때 실행할 코드 (앞 부분은 들여쓰기 되어 있음)

a = 10
if a == 10:
    print('10입니다')
    
print('aaa')
print('-'*15)

a = 5
if a == 10:
    print('10입니다')
    
print('aaa')

10입니다
aaa
---------------
aaa

In [78]:
# 코드 블록:
# - 특정한 동작을 위해서 코드가 모여 있는 상태
# - 파이썬은 들여쓰기를 기준으로 코드 블록을 구성
# - 같은 블록은 들여쓰기 칸 수가 같아야 하고, space와 tab을 섞어 쓰면 안됨

a = 10

if a == 10:
    print('10입니다')
    print('10입니다')
    print('10입니다')
    print('10입니다')
    print('10입니다')
    
if a != 9:
    print('9가 아닙니다')
      print('')

IndentationError: unexpected indent (3066235646.py, line 17)

In [ ]:
# if 문 2

x = 5

if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다')

if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다')

10입니다

In [ ]:
# if-else 구문

x = 10
y = 20

if x == 10 and y == 20:  # x == 10 and y == 20 이 조건문
    print('참')    # 조건문이 참이면 실행
else:
    print('거짓')  # 조건문이 거짓이면 실행

참

In [ ]:
# 중첩 if문과 논리 연산자

x = 10

if x > 0:
    if x < 20:
        print('20보다 작은 양수입니다')

if x > 0 and x < 20:
    print('20보다 작은 양수입니다')

if 0 < x < 20:
    print('20보다 작은 양수입니다')

20보다 작은 양수입니다
20보다 작은 양수입니다
20보다 작은 양수입니다

In [79]:
# if 조건문에서 코드 생략하기

a = 5

if a == 10:
    print('a는 10')
else:
    pass

In [ ]:
'''
S기업의 입사시험은 필기시험(written_test) 점수가 80점 이상이면서 코딩시험(coding_test)을
통과해야 합격이라고 한다. 코딩시험 통과 여부는 True, False로 구분한다.
written_test = 85이고, coding_test = True일 때, 'pass', 'fail'을 판정하는 코드를
작성하시오.
'''

In [81]:
written_test = 85
coding_test = True

if (written_test >= 80 and coding_test):
    print('pass')
else:
    print('fail')

pass