In [2]:
import pandas as pd
import numpy as np

In [9]:
# HW3-1
'''
다음 데이터를 기반으로 '리스트 기반 딕셔너리','구조화된 배열' 기반 방식으로
DataFrame을 각각 생성한 후 출력하는 코드를 작성하시오.
name = ['Wonyoung', 'Soyeon', 'Jisoo', 'Hyori']
group = ['IVE', 'GIdle', 'BlackPink', 'FinKL']
age = [22, 28, 31, 47]
MBTI = ['ENTJ', 'INTP', 'INTP', 'ENFP']
'''

# 1. 리스트 기반 딕셔너리
data1 = {'name': ['Wonyoung', 'Soyeon', 'Jisoo', 'Hyori'],
        'group': ['IVE', 'GIdle',  'BlackPink', 'FinKL'],
        'age': [22, 28, 31, 47],
        'MBTI': ['ENTJ', 'INTP', 'INTP', 'ENFP']}

df1 = pd.DataFrame(data1)
print(f'1. 리스트 기반 딕셔너리: \n{df1}'), print('='*40)


# 2. 구조화 배열 기반
dtype = np.dtype([('name', 'U10'), ('group', 'U10'), ('age', 'i4'), ('MBTI', 'U10')])
data2 = np.array([('Wonyoung', 'IVE', 22, 'ENTJ'), ('Soyeon', 'GIdle', 28, 'ENTJ'),
                ('Jisoo', 'BlackPink', 31, 'ENTJ'), ('Hyori', 'FinKL', 47, 'ENTJ')], dtype=dtype)
df2 = pd.DataFrame(data2)
print(f'2. 구조화 배열 기반: \n{df2}')

1. 리스트 기반 딕셔너리:
       name      group  age  MBTI
0  Wonyoung        IVE   22  ENTJ
1    Soyeon      GIdle   28  INTP
2     Jisoo  BlackPink   31  INTP
3     Hyori      FinKL   47  ENFP
========================================
2. 구조화 배열 기반:
       name      group  age  MBTI
0  Wonyoung        IVE   22  ENTJ
1    Soyeon      GIdle   28  ENTJ
2     Jisoo  BlackPink   31  ENTJ
3     Hyori      FinKL   47  ENTJ

In [12]:
# HW3-2
'''
Q1에서 만든 DataFrame을 기반으로, 아래 조건에 맞는 값을 선택하는 코드를 작성하시오.
조건1. 나이가 30 이상인 사람만 출력
조건2. MBTI가 ‘INTP’인 사람만 출력
조건3. 첫 번째 행에서 세 번째 행까지 출력 (세 번째 행 포함)
'''

# 1. 나이가 30 이상인 사람
print(f"1. 나이가 30 이상인 사람: \n{df1.loc[df1['age'] >= 30]}")
print('='*40)

# 2. MBTI가 'INTP'인 사람
print(f"2. MBTI가 'INTP'인 사람: \n{df1[df1['MBTI'] == 'INTP']}")
print('='*40)

# 3. 첫 번째~세 번째 행
print(f"3. 첫~세 번째 행: \n{df1.iloc[0:4]}")

1. 나이가 30 이상인 사람:
    name      group  age  MBTI
2  Jisoo  BlackPink   31  INTP
3  Hyori      FinKL   47  ENFP
========================================
2. MBTI가 'INTP'인 사람:
     name      group  age  MBTI
1  Soyeon      GIdle   28  INTP
2   Jisoo  BlackPink   31  INTP
========================================
3. 첫~세 번째 행:
       name      group  age  MBTI
0  Wonyoung        IVE   22  ENTJ
1    Soyeon      GIdle   28  INTP
2     Jisoo  BlackPink   31  INTP
3     Hyori      FinKL   47  ENFP

In [20]:
# HW3-3
'''
다음 데이터를 기반으로, 조건 1, 2, 3, 4를 만족하는 코드를 작성하시오.

ID = [1, 2, 3, 4],
Score = [88, 92, 75, 95],
Grade = ['B', 'A', 'C', 'A']

조건1. 위 데이터에서 각 학생을 구분하기 위해 's1', 's2', 's3', 's4'라는
       고유한 코드를 인덱스로 사용하는 DataFrame을 생성하고 출력하시오.
조건2. 새로운 학생 's5'의 정보 (ID: 5, Score: 80, Grade: 'B')를 DataFrame에
       새로운 행으로 추가하시오.
조건3. DataFrame에서 학생들의 시험 점수를 나타내는 'Score' 열을 완전히 제거하시오.
조건4. DataFrame에서 학생 코드 's3'과 's4'에 해당하는 행을 제거하고,
       동시에 학생들의 학점을 나타내는 'Grade' 열도 제거하시오. (최종적으로 'ID' 열만 남아야 함.)

'''

# 1. DataFrame을 생성하고 출력
data = {'ID': [1, 2, 3, 4],
        'Score': [88, 92, 75, 95],
        'Grade': ['B', 'A', 'C', 'A']}

df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4'])
print(f"1. DataFrame을 생성하고 출력: \n{df}")
print('='*40)

# 2. 행 추가: s5
df.loc['s5'] = [5, 80, 'B']
print(f"2. 행 추가: \n{df}")
print('='*40)

# 3. Score 열 제거
print(f"3. Score 열 제거: \n{df.drop('Score', axis=1)}")
print('='*40)

# 4. s3, s4 행과 Grade 열 삭제
print(f"4. s3, s4 행과 Grade 열 삭제: \n{df.drop(index=['s3', 's4'], columns=['Grade'])}")

1. DataFrame을 생성하고 출력:
    ID  Score Grade
s1   1     88     B
s2   2     92     A
s3   3     75     C
s4   4     95     A
========================================
2. 행 추가:
    ID  Score Grade
s1   1     88     B
s2   2     92     A
s3   3     75     C
s4   4     95     A
s5   5     80     B
========================================
3. Score 열 제거:
    ID Grade
s1   1     B
s2   2     A
s3   3     C
s4   4     A
s5   5     B
========================================
4. s3, s4 행과 Grade 열 삭제:
    ID  Score
s1   1     88
s2   2     92
s5   5     80